{"swagger":"2.0","info":{"title":"CPS Azure Evaluation Service","description":"","version":"1.0"},"host":"peter-fdp-eastus2-resource.cognitiveservices.azure.com","basePath":"/api/projects/peter-fdp-eastus2/evaluations","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{"https://ai.azure.com":"https://ai.azure.com"}}},"security":[{"oauth2-auth":["https://ai.azure.com"]}],"parameters":{"api-version":{"name":"api-version","in":"query","required":true,"type":"string","default":"2025-05-15-preview"}},"paths":{"/runs:runAgent":{"post":{"summary":"FDP Submit Evaluation Request","description":"Queue an agent evaluation via FDP","operationId":"submitAgentEvaluationFdp","parameters":[{"$ref":"#/parameters/api-version"},{"in":"body","name":"evaluationRequest","required":true,"schema":{"$ref":"#/definitions/AgentEvaluationRequest"}}],"responses":{"201":{"description":"Evaluation accepted","schema":{"$ref":"#/definitions/AgentEvalRequestResponse"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/runs/agents/{completionId}":{"get":{"summary":"FDP Get Evaluation Result","description":"Retrieve an evaluation result via FDP","operationId":"getAgentEvaluationFdp","parameters":[{"name":"completionId","in":"path","required":true,"type":"string","description":"Completion ID in the form `{threadId};{runId}`"},{"$ref":"#/parameters/api-version"}],"responses":{"200":{"description":"Evaluation result (status may be Running or Completed)","schema":{"$ref":"#/definitions/AgentEvaluationResponse"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorResponse"}}}}}},"definitions":{"AgentEvaluationRequest":{"type":"object","required":["RunId","ThreadId","Evaluators","Query","Response","ToolDefinitions"],"properties":{"RunId":{"type":"string","title":"Run Identifier"},"ThreadId":{"type":"string","title":"Thread Identifier"},"Evaluators":{"type":"object","title":"Evaluator Configurations","description":"Map of display names to evaluator configs","additionalProperties":{"$ref":"#/definitions/EvaluatorConfig"}},"Query":{"type":"array","title":"Query Messages","items":{"$ref":"#/definitions/ChatMessage"}},"Response":{"type":"array","title":"Response Messages","items":{"$ref":"#/definitions/ChatMessage"}},"ToolDefinitions":{"type":"array","title":"Tool Definitions","items":{"$ref":"#/definitions/ToolDefinition"}},"SamplingConfiguration":{"$ref":"#/definitions/SamplingConfiguration"},"RedactionConfiguration":{"$ref":"#/definitions/RedactionConfiguration"},"AppInsightsConnectionString":{"type":"string","title":"Application Insights Connection String"}}},"AgentEvalRequestResponse":{"type":"object","required":["id","status"],"properties":{"id":{"type":"string","title":"EvaluationId"},"status":{"type":"string","title":"EvaluationStatus"},"result":{"type":"string","title":"EvaluationResults"},"error":{"type":"string","title":"ErrorMessage"}}},"AgentEvaluationResponse":{"type":"object","required":["id","status","result"],"properties":{"id":{"type":"string","title":"EvaluationId"},"status":{"type":"string","title":"EvaluationStatus"},"result":{"type":"array","title":"EvaluationResults","items":{"$ref":"#/definitions/EvaluatorResult"}},"error":{"type":"string","title":"ErrorMessage"}}},"EvaluatorConfig":{"type":"object","required":["Id"],"properties":{"Id":{"type":"string","title":"EvaluatorId"}}},"ChatMessage":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string"},"toolCallId":{"type":"string"},"content":{"type":"array","items":{"$ref":"#/definitions/MessageContent"}}}},"MessageContent":{"type":"object","required":["type"],"properties":{"type":{"type":"string"},"text":{"type":"string"},"name":{"type":"string"},"toolCallId":{"type":"string"},"arguments":{"type":"object","additionalProperties":true},"results":{"type":"object","additionalProperties":true}}},"ToolDefinition":{"type":"object","required":["type","name","description"],"properties":{"type":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"EvaluatorResult":{"type":"object","required":["evaluator","evaluatorId","score","status"],"properties":{"evaluator":{"type":"string"},"evaluatorId":{"type":"string"},"score":{"type":"number","format":"float"},"status":{"type":"string"},"reason":{"type":"string"},"version":{"type":"string"},"responseId":{"type":"string"},"messageId":{"type":"string"},"threadId":{"type":"string"},"runId":{"type":"string"},"error":{"type":"string"},"additionalDetails":{"type":"string"}}},"SamplingConfiguration":{"type":"object","properties":{"SamplingPercent":{"type":"integer","format":"int32"}}},"RedactionConfiguration":{"type":"object","properties":{"RedactScoreProperties":{"type":"boolean"}}},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}}}}